
/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 76% "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
tr.odd td {
	background-color: #fff;
}
tr.even td {
	background-color: #efefef;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
	padding:2px;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #369;
}
a:visited {
  color: #369;
}
a:hover {
  color: #369;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
  width: 100%;
}

.form-item input, .form-item textarea, .form-item select {
	font-family: Verdana, Arila, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #ccc;
	padding: 0.2em;
}

.form-item label {
  font-size: 1em;
  color: #222;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.form-item {
}
.form-submit {
	border: 2px solid #5B80B2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0.2em;
	background-image: url(images/default-bg.gif);
	color: #fff;
	font-weight: bold;
	margin-top: 3px;
}
.links {
  margin-bottom: 0em;
}
.comment .links {
  margin-bottom: 0em;
}

/*
** Page layout blocks / IDs
*/
#body {
	width: 98%;
	border: 1px solid #ddd;
	margin: 1%;
}
#header, #content {
  width: 100%;
}
#header {
  font-family: Verdana, Helvetica, sans-serif;
	background-color: #5278A9; 
	border-bottom: 1px solid #6797CF;
	height: 3em;
	overflow: hidden;
}
#logo {
  vertical-align: bottom;
  border: 0;
}
#logo img {
  float: left;
  padding: 0em 1.0em 0em 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#primary {
  font-size: 1.0em;
  padding: 0em 0.8em 0.5em 0;
  color: #9cf;
}
#primary a {
  font-weight: bold;
  color: #F7F9C9;
}
#secondary {
  padding: 0 1em 0.5em 0;
  font-size: 0.8em;
  color: #9cf;
}
#secondary a {
  font-weight: bold;
  color: #9cf;
}
#search {
}
#search .form-text {
  width: 8em;
  vertical-align: middle;
  padding: 0 0.2em 0 0.2em;
	margin-top: 2px;
}
#search .form-submit {
  border: 1px solid #369;
  font-size: 1em;
  vertical-align: middle;
}
#mission {
  background-color: #efefef;
  padding: 1.5em 2em;
  color: #000;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0.1em 0em 0em 0.6em;
  padding: 0em;
  font-size: 1.5em;
	vertical-align: bottom;
	padding-top: 4px;
}
.site-name a:link, .site-name a:visited {
  color: #EDEFB3;
}
.site-name a:hover {
  color: #fff;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0em 0em 0em 0em;
	padding-left: 2em;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
	border: 1px solid #ccc;
	margin: 8px;
}
#main form {
	padding: 4px;
}

#main h1.title {
	background-image: url(images/default-bg.gif);
	background-position:bottom;
	padding: 6px;
	margin: 0px;
	color: #fff;
}

#main h2.title {
	background-image: url(images/default-bg.gif);
	background-position:top;
	padding: 2px;
	margin: 0px;
	color: #fff;
	font-size: 11px;
}

#main .help {
	background-color: #FFF3DF;
	padding: 5px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: 3px;
	border-bottom: 1px solid #ccc;
	color: #ccc;
	padding: 2px 0 3px 5px;
	background-color: #efefef;
}
.breadcrumb a{
	font-weight: normal;
	color: #4E89BE;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left {
  background-color: #fff;
}
#sidebar-right {
  background-color: #eee;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#sidebar-left, #sidebar-right {
  width: 17em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  vertical-align: top;
}
#footer {
	color: #000;
	border-top: 1px solid #ccc;
  background-color: #fff;
	padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
#sidebar-left .block .title {
  font-size: 1em;
  color: #666;
	font-weight: normal;
	text-transform: capitalize;
	background-image: url(images/nav-bg.gif);
	background-position: bottom;
	height: 14px;
  margin: 0;  /* decrease default margins for h<x>.title */
}

#sidebar-right .block .title {
  font-size: 1em;
  color: #fff;
	font-weight: normal;
	text-transform: capitalize;
	background-image: url(images/default-bg.gif);
	background-position: top;
  margin: 0;  /* decrease default margins for h<x>.title */
	padding: 6px;
}
.submitted {
  color: #999;
  font-size: 0.8em;
	margin-left: 3px;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
#sidebar-left .block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
	border: 1px solid #ccc;
	margin: 3px;
}
.block .content { 
	padding: 3px;
}
.box {
	margin: 4px;
	border: 1px solid #ccc;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  margin: 3px;
  border: 1px solid #aaa;
}
.node .content, .comment .content {
	padding: 4px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #efefef;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}
/**
 * Administration area
 */
div.admin-panel {
  background: #eee url('images/nav-bg.gif') top left repeat-x;
  margin: 2px;
  padding: 3px;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}

.event-calendar td.fri {
  background: #fdd;
}
.event-calendar td.sun {
  background: white;
}

.event-calendar td.days {	
  color: #cce;
  background: #224;
}
